button {
  cursor: pointer;
  display: inline-block; }

.click {
  padding: 30px 46px 27px 50px;
  border: 2px solid #fff;
  color: white;
  background-color: #ff5722;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s; }
  .click:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .click:hover, .click:active, .click:focus {
    color: #ff5722; }
    .click:hover:before, .click:active:before, .click:focus:before {
      transform: scale(1); }

.learn {
  padding: 19px 30px 25px;
  background: #ff5722;
  color: white;
  border: 2px solid #ff5722;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s; }
  .learn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .learn:hover, .learn:active, .learn:focus {
    color: #ff5722; }
    .learn:hover:before, .learn:active:before, .learn:focus:before {
      transform: scaleX(1); }

.owl-nav {
  position: absolute;
  bottom: 6%;
  left: 19%; }
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    display: inline-block;
    margin: 0 1px;
    color: rgba(0, 0, 0, 0.39);
    font-size: 32px;
    padding: 18px 27px 14px 20px;
    background: rgba(255, 255, 255, 0.36);
    transition: all 0.3s ease-out; }
    .owl-nav .owl-prev:hover,
    .owl-nav .owl-next:hover {
      background: #ff5722;
      color: #fff; }

body {
  margin: 0;
  padding: 0; }
  body .grid-header {
    background-color: #182c38; }
    body .grid-header .nav-bar {
      width: 100%; }
      body .grid-header .nav-bar .nav-wrap {
        margin: 0 auto;
        overflow: hidden; }
        body .grid-header .nav-bar .nav-wrap .logo {
          float: left;
          display: block; }
          body .grid-header .nav-bar .nav-wrap .logo .drop-img {
            display: inline-block;
            padding: 21px 30px 20px 32px;
            background-color: #ff5722; }
            body .grid-header .nav-bar .nav-wrap .logo .drop-img i {
              color: #141a1d;
              font-size: 83px; }
          body .grid-header .nav-bar .nav-wrap .logo .brand {
            display: inline-block;
            float: right;
            margin: 24px 0 25px 12px;
            color: #ff5722;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 31px;
            text-align: end; }
            body .grid-header .nav-bar .nav-wrap .logo .brand .small {
              display: block;
              font-size: 18px; }
            body .grid-header .nav-bar .nav-wrap .logo .brand .big {
              display: block;
              font-size: 57px; }
        body .grid-header .nav-bar .nav-wrap .nav-button {
          color: #ff5722;
          float: right;
          display: none;
          cursor: pointer;
          position: absolute;
          right: 3%;
          top: 3%;
          padding: 26px 11px;
          z-index: 5; }
          body .grid-header .nav-bar .nav-wrap .nav-button span {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: #ff5722;
            position: relative;
            display: block;
            transition: all .2s ease-in-out; }
            body .grid-header .nav-bar .nav-wrap .nav-button span:before {
              top: -10px;
              visibility: visible; }
            body .grid-header .nav-bar .nav-wrap .nav-button span:after {
              top: 10px; }
            body .grid-header .nav-bar .nav-wrap .nav-button span:before, body .grid-header .nav-bar .nav-wrap .nav-button span:after {
              height: 4px;
              width: 35px;
              border-radius: 2px;
              background-color: #ff5722;
              position: absolute;
              content: "";
              transition: all .2s ease-in-out; }
          body .grid-header .nav-bar .nav-wrap .nav-button:hover span,
          body .grid-header .nav-bar .nav-wrap .nav-button:hover span:before,
          body .grid-header .nav-bar .nav-wrap .nav-button:hover span:after {
            background: #fff; }
        body .grid-header .nav-bar .nav-wrap .nav-button.open:hover span, body .grid-header .nav-bar .nav-wrap .nav-button.open span {
          background: transparent; }
        body .grid-header .nav-bar .nav-wrap .nav-button.open span:before {
          transform: rotate(45deg) translate(7px, 7px);
          opacity: 1; }
        body .grid-header .nav-bar .nav-wrap .nav-button.open span:after {
          transform: rotate(-45deg) translate(7px, -7px); }
        body .grid-header .nav-bar .nav-wrap .nav-list {
          float: right;
          margin: 0;
          padding: 50px 76px 41px 0; }
          body .grid-header .nav-bar .nav-wrap .nav-list li {
            list-style: none;
            float: left;
            display: inline-block;
            padding: 0 20px; }
            body .grid-header .nav-bar .nav-wrap .nav-list li a {
              font-family: 'Lato', sans-serif;
              font-size: 24px;
              font-weight: 400;
              line-height: 31px;
              text-transform: uppercase;
              color: #637076;
              transition: all 0.3s ease; }
              body .grid-header .nav-bar .nav-wrap .nav-list li a:hover {
                color: #fff; }
  body .container {
    max-width: 1190px;
    display: block;
    margin: 0 auto; }
  body .clearfix:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden; }
  body .grid-intro {
    background-color: #182c38; }
    body .grid-intro .slide-1 {
      background: url(../img/intro.jpg);
      background-size: cover; }
    body .grid-intro .slide-2 {
      background: url(../img/intro.jpg);
      background-size: cover; }
    body .grid-intro .slide-3 {
      background: url(../img/intro.jpg);
      background-size: cover; }
    body .grid-intro .slide-1, body .grid-intro .slide-2, body .grid-intro .slide-3 {
      display: inline-block;
      height: 100%;
      width: 100%; }
      body .grid-intro .slide-1 > .container .description, body .grid-intro .slide-2 > .container .description, body .grid-intro .slide-3 > .container .description {
        display: block;
        margin: 16% 0 17%; }
        body .grid-intro .slide-1 > .container .description p, body .grid-intro .slide-2 > .container .description p, body .grid-intro .slide-3 > .container .description p {
          font-family: 'Lato', sans-serif;
          font-size: 92px;
          font-weight: 900;
          color: #fff;
          line-height: 98px;
          text-transform: uppercase;
          text-align: left; }
  body .grid-question {
    background-color: #ff5722; }
    body .grid-question .container p {
      display: inline-block;
      width: 62%;
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 38px;
      font-weight: 700;
      line-height: 38px;
      text-transform: uppercase; }
    body .grid-question .container button {
      float: right;
      margin: 38px 10px;
      font-family: 'Lato', sans-serif;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase; }
  body .grid-expect {
    background-color: #fffbf0; }
    body .grid-expect .container .title {
      margin: 0;
      padding: 149px 0 46px;
      color: #263238;
      font-family: 'OpenSans', sans-serif;
      font-size: 72px;
      text-transform: uppercase;
      font-weight: 300; }
      body .grid-expect .container .title span {
        font-weight: 700; }
    body .grid-expect .container .about {
      margin: 0;
      max-width: 982px;
      padding-bottom: 88px;
      color: #645f5f;
      font-family: 'OpenSans', sans-serif;
      font-size: 22px;
      font-weight: 300;
      line-height: 30px; }
    body .grid-expect .container .products {
      margin: 0;
      padding-bottom: 188px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[4];
          grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 50px;
      grid-column-gap: 10px; }
      body .grid-expect .container .products .element h2 {
        margin: 51px 0 17px;
        color: #03a9f4;
        font-family: 'OpenSans', sans-serif;
        font-size: 30px;
        font-weight: 700; }
      body .grid-expect .container .products .element span {
        color: #211f1f;
        font-family: 'OpenSans', sans-serif;
        font-size: 18px;
        font-weight: 700; }
      body .grid-expect .container .products .element .features {
        margin: 14px 0 30px; }
        body .grid-expect .container .products .element .features span {
          display: inline-block;
          width: 254px;
          color: #211f1f;
          font-family: 'OpenSans', sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 21px; }

@media screen and (max-width: 1680px) {
  body .grid-header .nav-bar .nav-wrap .logo .brand .big {
    font-size: 45px; }
  body .grid-header .nav-bar .nav-wrap .logo .brand .small {
    font-size: 19px; }
  body .grid-header .nav-bar .nav-wrap .nav-list ul > li a {
    font-size: 18px;
    padding: 0 10px; }
  body .grid-header .nav-bar .nav-wrap .nav-list {
    padding: 50px 10px 41px 0; }
  body .grid-header .nav-bar .nav-wrap .nav-list li {
    padding: 0 10px; }
  body .grid-header .nav-bar .nav-wrap .nav-list li a {
    font-size: 19px; } }

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    padding: 0 5%; }
  body .grid-header .nav-bar .nav-wrap .logo .brand .big {
    font-size: 30px; }
  body .grid-header .nav-bar .nav-wrap .logo .brand .small {
    font-size: 12px; }
  body .grid-header .nav-bar .nav-wrap .nav-list ul > li a {
    font-size: 16px;
    padding: 0 10px; }
  body .grid-header .nav-bar .nav-wrap .nav-list {
    padding: 50px 10px 41px 0; }
  body .grid-header .nav-bar .nav-wrap .nav-list li {
    padding: 0 10px; }
  body .grid-header .nav-bar .nav-wrap .nav-list li a {
    font-size: 16px; }
  body .grid-intro .slide-1 > .container .description p, body .grid-intro .slide-2 > .container .description p, body .grid-intro .slide-3 > .container .description p {
    font-size: 85px; }
  body .grid-expect .container .products {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body .grid-intro .slide-1 > .container .description p, body .grid-intro .slide-2 > .container .description p, body .grid-intro .slide-3 > .container .description p {
    font-size: 70px;
    line-height: 70px; }
  .container {
    padding: 0 7%; }
  body .grid-expect .container .products {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr); }
  body .grid-expect .container .products .element {
    margin: 0 auto; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  body .grid-header .nav-bar .nav-wrap .logo .brand .big {
    font-size: 27px;
    line-height: 15px; }
  body .grid-header .nav-bar .nav-wrap .logo .brand .small {
    font-size: 12px; }
  body .grid-header .nav-bar .nav-wrap .nav-button {
    right: 0;
    top: 5%; }
  body .grid-intro .slide-1 > .container .description p, body .grid-intro .slide-2 > .container .description p, body .grid-intro .slide-3 > .container .description p {
    font-size: 32px;
    line-height: 40px;
    padding: 20px; }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    padding: 10px 14px 6px 14px; }
  body .container {
    padding: 25px; }
  body .grid-question .container p {
    font-size: 20px; }
  body .grid-question .container button {
    margin: 25px 10px;
    font-size: 19px; }
  .click {
    padding: 20px 33px; }
  body .grid-expect .container .title {
    font-size: 35px;
    padding: 35px 0 46px; }
  body .grid-expect .container .products {
    padding-bottom: 70px; }
  body .grid-expect .container .products {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr; }
  body .grid-expect .container .products .element {
    margin: 0 auto; } }

@media screen and (min-width: 320px) and (max-width: 1024px) {
  body .grid-header .nav-bar .nav-wrap .nav-button {
    display: block; }
  body .grid-header .nav-bar .nav-wrap .nav-list {
    width: 100%;
    height: 0;
    padding: 0;
    text-align: center; }
  body .grid-header .nav-bar .nav-wrap .active {
    height: calc(100vh - 124px); }
  body .grid-header .nav-bar .nav-wrap .nav-list li {
    width: 100%;
    padding: 10px 0; }
  .nav-list li a {
    padding: 10px 10px; } }

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  cursor: pointer;
  text-decoration: none; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }
